<mat-card-title>
  MCQ Quiz
</mat-card-title>
<br>
<button (click)="qzStart()" mat-raised-button color="warn">Start Quiz</button>

<div *ngIf="showQz" >
<div class="quizListDiv" *ngFor="let qn of qzList; let i = index" >
<mat-card class="qns-card" flex-gt-sm >
  <mat-card-content>
    <mat-card-title> {{ i+1 }}. {{ qn.qns }} </mat-card-title>
    <p appAnswerDir (click)=" checkAns(qn.ans === 'A' ? true : false ) " ><span class="optionClass" >A) {{ qn.opnA }}</span></p>
    <p appAnswerDir (click)=" checkAns(qn.ans === 'B' ? true : false ) " ><span class="optionClass" >B) {{ qn.opnB }}</span></p>
    <p appAnswerDir (click)=" checkAns(qn.ans === 'C' ? true : false ) " ><span class="optionClass" >C) {{ qn.opnC }}</span></p>
    <p appAnswerDir (click)=" checkAns(qn.ans === 'D' ? true : false ) " ><span class="optionClass" >D) {{ qn.opnD }}</span></p>
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
</div>
<button (click)="finishQz()" mat-raised-button color="warn">Finish Quiz</button>
</div>

<h5 class="tmeDiv">Time <br/> <span>  {{ minutes }} : {{ seconds }} </span></h5>
