.quizListDiv {
    margin-top: 7px;
}

.optionClass {
    transition: 0.5s;
    padding: 10px;
    border-radius: 5px;
}

.optionClass:hover {
    color: #ff4081;
    cursor: pointer;
    background: #eaeaeac4;
    transition: 0.5s;
    margin-left: 10px;
    width: fit-content;
}
.ansSelected {
    color: chocolate;
    margin-left: 10px;
}

.cardDisable {
    pointer-events: none;
    background-color: #d6d6d6;
    cursor: not-allowed;
    transition: 1s;
}


  footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

  .cpRght {
    font-size: 12px;
    background: black;
    color: #d6d6d6;
    text-align: center;
  }
