<mat-card-title>
  MCQ Quiz
</mat-card-title>

<button (click)="qzStart()" mat-raised-button color="warn">Start Quiz</button>

<div *ngIf="showQz">
<div class="quizListDiv" *ngFor="let qn of qzList; let i = index" >
<mat-card class="qns-card" flex-gt-sm >
  <mat-card-content>
    <mat-card-title> {{ i+1 }}. {{ qn.qns }} </mat-card-title>
    <p appAnswerDir class="optionClass" (click)=" checkAns(qn.ans === 'A' ? true : false ) " >A) {{ qn.opnA }}</p>
    <p appAnswerDir class="optionClass" (click)=" checkAns(qn.ans === 'B' ? true : false ) " >B) {{ qn.opnB }}</p>
    <p appAnswerDir class="optionClass" (click)=" checkAns(qn.ans === 'C' ? true : false ) " >C) {{ qn.opnC }}</p>
    <p appAnswerDir class="optionClass" (click)=" checkAns(qn.ans === 'D' ? true : false ) " >D) {{ qn.opnD }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button> Delete </button>
  </mat-card-actions>
</mat-card>
</div>

<button (click)="finishQz()" mat-raised-button color="warn">Finish Quiz</button>

</div>

<h5 class="tmeDiv">Time <br/> <span>  {{ minutes }} : {{ seconds }} </span></h5>
