<h2 class="subttl">
    MCQ Quesions List
</h2>

<div class="qnsListDiv" *ngFor="let qn of qnList; let i = index" >
<mat-card class="qns-card" >
    <mat-card-content>
      <mat-card-title> {{ i+1 }}. {{ qn.qns }} </mat-card-title>
      <p [ngClass]="{ansTxt: qn.ans == 'A' }" >A) {{ qn.opnA }}</p>
      <p [ngClass]="{ansTxt: qn.ans == 'B' }" >B) {{ qn.opnB }}</p>
      <p [ngClass]="{ansTxt: qn.ans == 'C' }" >C) {{ qn.opnC }}</p>
      <p [ngClass]="{ansTxt: qn.ans == 'D' }" >D) {{ qn.opnD }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button (click)="deleteQns(qn.key)" mat-stroked-button color="warn">
        Delete <mat-icon aria-hidden="false" aria-label="Delete this Quesion">delete_forever</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
