<mat-card-title>    
    Add MCQ Quesions    
</mat-card-title> 

<div class="qnsListDiv" *ngFor="let qn of qnList" >
<mat-card class="qns-card" >
    <mat-card-content>
      <mat-card-title> {{ qn.qns }} </mat-card-title>
      <p>
         A) {{ qn.opnA }}
      </p>
      <p>
        B) {{ qn.opnB }}
      </p>
      <p>
        C) {{ qn.opnC }}
      </p>
      <p>
        D) {{ qn.opnD }}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>Delete</button>
    </mat-card-actions>
  </mat-card>
</div>