<h2 class="subttl">
    Add MCQ Quesions
</h2>
<form [formGroup]="insForm" (ngSubmit)="ins()" >
    <div class="qnsAddFrm">
        <mat-form-field>
            <input matInput formControlName="qns" placeholder="MCQ Question">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="opnA" placeholder="Option A">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="opnB" placeholder="Option B">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="opnC" placeholder="Option C">
        </mat-form-field>

        <mat-form-field>
            <input matInput formControlName="opnD" placeholder="Option D">
        </mat-form-field>

        <mat-radio-group aria-label="Select Answer" formControlName="ans">
            <label class="radioLabel" id="">Select Answer</label>
            <mat-radio-button value="A">A</mat-radio-button>
            <mat-radio-button value="B">B</mat-radio-button>
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="D">D</mat-radio-button>
        </mat-radio-group>

        <button class="addBtn" mat-raised-button color="primary">
          Add Data<mat-icon aria-hidden="false" aria-label="Add Quesion">arrow_right</mat-icon>
        </button>

    </div>
</form>