<form>
    <div class="qnsAddFrm">
        <mat-form-field>
            <input matInput placeholder="MCQ Question">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Option A">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Option B">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Option C">
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Option D">
        </mat-form-field>

        <mat-radio-group aria-label="Select Answer">
            <label id="">Select Answer</label>
            <mat-radio-button value="A">A</mat-radio-button>
            <mat-radio-button value="B">B</mat-radio-button>
            <mat-radio-button value="C">C</mat-radio-button>
            <mat-radio-button value="D">D</mat-radio-button>
        </mat-radio-group>

        <button mat-raised-button color="primary">Add Data</button>

    </div>
</form>
      