<h2 class="subttl">
    Admin Login
</h2>


<form [formGroup]="admForm" (ngSubmit)="admLogin()" >
    <div class="admFormClass">
        <mat-form-field>
            <input matInput formControlName="adm" placeholder="Admin ID">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="pswd" placeholder="Password">
        </mat-form-field>
        <button mat-raised-button color="primary">Login</button>
    </div>
</form>

<h2> {{ admForm.value | json }} </h2>

