<h2 class="subttl">
    User Login
</h2>


<form [formGroup]="usrForm" (ngSubmit)="usrLogin(usrList)" >
    <div class="usrFormClass">
        <mat-form-field>
            <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="pswd" placeholder="Password">
        </mat-form-field>
        <button mat-raised-button color="primary">Login</button>
    </div>
</form>

<h2> {{ usrForm.value | json }} </h2>

