<h2 class="subttl">
    User Login
</h2>


<form [formGroup]="usrForm" (ngSubmit)="usrLogin(usrList)" >
    <div class="usrFormClass">
        <mat-form-field>
            <input matInput formControlName="email" placeholder="Email">
        </mat-form-field>
        <mat-form-field>
            <input matInput formControlName="pswd" placeholder="Password">
        </mat-form-field>
        <button mat-raised-button color="primary">Login</button>
    </div>
</form>

<div style="text-align: center;padding: 10px;margin-top: 50px;">
  <a href="admin" >Admin Login</a>
</div>

