  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="app-ttl">JIJO <br/> MCQ </span>
      <span></span>
      <div fxShow="true" fxHide.lt-md style="margin-left: 20px;" >
        <a routerLink="quiz" routerLinkActive='active' mat-button>Quiz</a>
        <a routerLink="dashboard" routerLinkActive='active' mat-button>Dashboard</a>
        <a routerLink="user-manage" routerLinkActive='active' mat-button>Manage User</a>
      </div>
      <span class="menu-spacer"></span>
      <div fxShow="true">
        <a [matMenuTriggerFor]="logSub" routerLinkActive="active" mat-button>
          <span>{{logger}}</span> <mat-icon aria-hidden="false" aria-label="Add Quesion">power_settings_new</mat-icon>
        </a>
        <mat-menu #logSub="matMenu">
          <a mat-menu-item routerLink="login" *ngIf="!logger" >Login</a>
          <a mat-menu-item (click)="logOut()" *ngIf="logger" >Logout</a>
        </mat-menu>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" routerLink="quiz" routerLinkActive='active' mat-list-item>Quiz</a>
        <a (click)="sidenav.toggle()" routerLink="dashboard" routerLinkActive="active" mat-list-item>Dashboard</a>
        <a (click)="sidenav.toggle()" routerLink="user-manage" routerLinkActive="active" mat-list-item>Manage User</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
      <div class="footerSpacer"></div>
    </mat-sidenav-content>
  </mat-sidenav-container>
